<form name='form1' action='/controllerUpdate' method='post'>
    <input type="hidden" name="id" id="id" placeholder="Id:" class="style_input" value="{{id}}"><br>
    <input type="text" name="nome" id="name" placeholder="Nome" class="style_input" value="{{name}}"><br>
    <input type="text" name="qnt" id="qnt" placeholder="Quantidade" class="style_input" value="{{qnt}}"><br>
    <input type="text" name="marca" id="marca" placeholder="Marca" class="style_input" value="{{marca}}"><br>
    <input type="text" name="preco" id="preco" placeholder="Preço" class="style_input" value="{{preco}}"><br>
    <input type="text" name="datafab" id="datafab" placeholder="Data de fabrição" class="style_input" value="{{datafab}}"><br>
    <input type="text" name="datavenci" id="datavenci" placeholder="Data de validade" class="style_input" value="{{datavenci}}"><br>
    <input type="submit" name="btnsubmit" id="btnsubmit" value="Atualizar" class="btnadicionar"><br>

</form>